@use '../../styles/variables' as *;

.hero {
    position: relative;
    overflow: hidden;
    .inner {
        display: grid;
        padding: $space-12 0;
        gap: $space-2;
        align-items: center;

        @media (min-width:900px) {
            grid-template-columns: 1fr 1fr;
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: $space-2;
        }
        .badge {
            position: absolute;
            right: -20rem;
            bottom: 5rem;
        }

        .canvas {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            min-width: 0;

            height: clamp(220px, 40vw, 380px);

            .canvas_anime {
                width: clamp(220px, 40vw, 380px);
                height: clamp(220px, 40vw, 380px);
                
                max-width: 100%;
            }
        }
    }
}