.hero {
    position: relative;
    overflow: hidden;
    .inner {
        display: flex;

        .content {
            flex: 2;
        }
        .badge {
            position: absolute;
            right: -20rem;
            bottom: 5rem;
        }
    
        .canvas {
            flex: 1;           
            width: 50%;
            // height: 40vw;
        }
    }
}